/* ================================= Font ================================= */

@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/font/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

/* ================================= Variables ================================= */

:root {
    --color-background: #101010;
    --color-surface: #181818;
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #8a8a8a;
    --color-border: #303030;
    --color-accent: #ffffff;

    --font-family: "JetBrains Mono";
    /*--font-family: "Times New Roman";*/

    --text-display: 700 56px / 1.05 var(--font-family);
    --text-h1: 700 48px / 1.1 var(--font-family);
    --text-h2: 700 32px / 1.15 var(--font-family);
    --text-h3: 700 20px / 1.2 var(--font-family);
    --text-body: 400 14px / 1.5 var(--font-family);
    --text-body-l: 400 16px / 1.5 var(--font-family);
    --text-caption: 400 11px / 1.4 var(--font-family);

    --space-0: 0px;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-6: 32px;
    --space-7: 48px;
    --space-8: 64px;
    --space-9: 96px;
    --space-10: 128px;

    --transition-medium: 0.3s ease;
    --transition-fast: 0.1s ease;
}

/* ================================= Animations ================================= */

@keyframes contentAppear {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes stepAppear {
    from {
        opacity: 0;
        transform: translateX(300px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* ================================= Reset ================================= */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 60px;
}

body {
    scrollbar-width: none;

    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-family);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

button {
    outline: none;
}

.button {
    padding: var(--space-3);

    background-color: var(--color-accent);
    color: var(--color-background);
    font: var(--text-body);
    font-weight: bold;
}

li {
    list-style: none;
}

.button--outline {
    background: none;
    color: var(--color-accent);
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ================ Text ================ */

h1 {
    font: var(--text-h1);
}

h2 {
    font: var(--text-h2);
}

p {
    font: var(--text-body);
    color: var(--color-text-secondary);
}

a {
    text-decoration: none;
    color: var(--color-text-secondary);
}

::selection {
    background: var(--color-accent);
    color: var(--color-surface);
}

/* ================================= Layout ================================= */

/* ================ Header ================ */

header {
    position: sticky;
    top: 0;
    z-index: 100;

    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: var(--space-3);
    padding-inline: var(--space-4);

    transition: var(--transition-fast);
}

header.scrolled {
    background-color: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(12px);

    transition: 0.1s;
}

.logo {
    font: var(--text-h3);
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: var(--space-5);
}

.nav a {
    font: var(--text-body);

    transition: var(--transition-medium);
}

.nav a:hover {
    color: var(--color-text-primary);

    transition: var(--transition-medium);
}

.nav a.active {
    color: var(--color-text-primary);
    text-decoration: underline;
    text-decoration-thickness: 2px;

    transition: var(--transition-medium);
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 6px;
}

.language-switch button {
    padding: 0;
    border: 0;
    background: none;

    font: var(--text-body);
    color: var(--color-text-secondary);

    cursor: pointer;

    transition: var(--transition-medium);
}

.language-switch button:hover,
.language-switch button.active {
    color: var(--color-text-primary);
    font-size: 16px;

    transition: var(--transition-medium);
}

.language-switch span {
    color: var(--color-border);
}

/* ================ Main ================ */

main {
    padding-inline: var(--space-8);

    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

section {
    min-height: calc(100vh - 60px);
    scroll-snap-align: start;

    padding-top: var(--space-6);
    margin-top: 60px;
    border-bottom: 1px solid var(--color-border);
}

/* Hero */

.hero {
    height: calc(100vh - 60px);
    margin-top: 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--space-5);
}

.hero__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);

    max-width: 700px;
    min-width: 600px;

    opacity: 0;
    transform: translateX(-300);
}

.hero__content.is-visible {
    animation: contentAppear 0.6s ease forwards;
}

.hero__title {
    font: var(--text-display);
}

.hero__bottom {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
}

.hero__image {
    height: 100%;
    width: 100%;
    flex-shrink: 1;
    overflow: hidden;

    aspect-ratio: 5 / 4;
    padding-bottom: var(--space-6);
    /*flex: 1.25;*/
    position: relative;
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__statement {
    writing-mode: vertical-rl;

    flex-shrink: 0;
    align-self: center;
    margin-left: calc(var(--space-8) - var(--space-5));

    color: var(--color-text-secondary);
    font: var(--text-h3);
    font-weight: 700;
    white-space: nowrap;
}

/* Projects */

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-5);
}

.projects__header {
    display: flex;
    flex-direction: row;
    gap: var(--space-5);

    margin-bottom: var(--space-5);

    max-width: 600px;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-4);
}

.projects__footer {
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: var(--space-6);

    text-align: center;
}

.project-card {
    border: 1px solid var(--color-border);

    display: flex;
    flex-direction: column;

    cursor: pointer;

    transition: var(--transition-medium);
}

.project-card.is-open {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 100;
}

.project-card:hover {
    transform: scale(1.01);
    transition: var(--transition-medium);
}

.project-card__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    flex-shrink: 0;
}

.project-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card__content {
    flex: 1;

    display: flex;
    justify-content: space-between;

    padding: var(--space-3);
}

.project-card__footer {
    margin-top: auto;
}

.project-card__left {
    flex: 1;

    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: var(--space-4);

    max-width: 400px;
}

.project-card__category {
    font: var(--text-caption);
}

.project-card__details {
    display: none;
}

.project-card__stack {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
}

.project-card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.project-card__link {
    transition: var(--transition-medium);
}

.project-card__link svg {
    width: 26px;
    height: 26px;
}

.project-card__link:hover {
    color: var(--color-accent);
    transform: scale(1.2);

    transition: var(--transition-medium);
}

.project-card__stack span {
    padding: var(--space-1);
    padding-inline: var(--space-2);

    background-color: var(--color-border);
}

/* About */

.about {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
}

.about__top {
    display: flex;
    flex-direction: row;

    gap: var(--space-8);

    transition:
        transform 0.6s ease,
        opacity 0.4s ease;
}

.about__number {
    color: var(--color-text-primary);
    font: var(--text-body);
}

.about__title {
    color: var(--color-text-primary);
    font: var(--text-display);

    white-space: pre-line;
}

.about__description {
    max-width: 500px;

    color: var(--color-text-secondary);
    font: var(--text-body);
}

.about__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-3);

    transition:
        transform 0.6s ease,
        opacity 0.4s ease;
}

.about__step {
    min-height: 150px;

    display: grid;
    grid-template-columns: 40px 1fr 24px;
    gap: var(--space-4);

    padding: var(--space-5);

    border: none;
    border-left: 2px solid var(--color-border);
    background: transparent;

    color: var(--color-text-primary);
    text-align: left;

    cursor: pointer;

    opacity: 0;
    transform: translateX(80px);

    transition: border-color var(--transition-medium);
}

.about__step.is-visible {
    animation: stepAppear 0.6s ease forwards;
}

.about__step:nth-child(1) {
    animation-delay: 0.2s;
}

.about__step:nth-child(2) {
    animation-delay: 0.6s;
}

.about__step:nth-child(3) {
    animation-delay: 1s;
}

.about__step-number {
    color: var(--color-text-primary);
    font: var(--text-h3);
}

.about__step-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.about__step-title {
    font: var(--text-h2);
}

.about__step-description {
    max-width: 280px;

    color: var(--color-text-secondary);
    font: var(--text-body);
}

.about__step:hover {
    border-color: var(--color-text-secondary);
}

.about.details-open .about__top {
    transform: translateY(-100vh);
    opacity: 0;
}

.about.details-open .about__steps {
    transform: translateY(-100vh);
    opacity: 0;
}

.about__details {
    position: fixed;
    inset: 0;
    z-index: 99;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--space-7);
    padding-top: 80px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);

    transition:
        transform 0.7s ease,
        opacity 0.4s ease,
        visibility 0.7s ease;

    border: 2px solid gold;
    overflow: hidden;
}

.about__details.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.about__details-close,
.about__details-header {
    transition: transform 0.6s ease;
}

.about__details-header.slide-out-left {
    transform: translateX(-100%);
}

.about__details-header.slide-out-right {
    transform: translateX(100%);
}

.about__details-header.slide-in-left {
    transform: translateX(-100%);
}

.about__details-header.slide-in-right {
    transform: translateX(100%);
}

.about__details-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about__details-header {
    transition: transform 0.6s ease;
}

.about__details-close {
    max-width: max-content;

    color: var(--color-text-primary);
    background: none;
    border: none;
    font: var(--text-body-l);

    cursor: pointer;
}

.about__details-heading {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: var(--space-6);

    padding-bottom: var(--space-9);
}

.about__details-number {
    font: var(--text-h2);
}

.about__details-title {
    font: var(--text-display);
}

.about__details-description {
    font: var(--text-body-l);
}

.about__details-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.about__details-bottom {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
}

.about__details-progress {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--space-2);
}

.progress-item {
    position: relative;

    width: 100px;
    height: 2px;

    background: var(--color-text-secondary);

    font: var(--text-body);
    color: var(--color-text-secondary);

    transition:
        width 0.4s ease,
        color 0.4s ease,
        background 0.4s ease;

    cursor: pointer;
}

.progress-item::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 2px;

    background: var(--color-text-primary);
}

.progress-item.active {
    width: 140px;
    text-align: center;

    color: var(--color-text-primary);

    transition:
        width 0.4s ease,
        color 0.4s ease,
        background 0.4s ease;
}

.progress-item.active::before {
    width: 100%;
    transition: width 10s linear;
}
